body {
    font-family: 'Roboto', sans-serif; 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color:#1a1a1a;
    min-width:700px;
}

::selection {
	background: #00ff58; /* Safari */
	}
::-moz-selection {
	background: #00ff58; /* Firefox */
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*
a a:link  {color:#e01359; background-color:transparent}
a:visited {color:#880c38; background-color:transparent}
a:hover   {color:#ff0056; background-color:transparent}
a:active  {color:#ff4486; background-color:transparent}
*/
.logo{
    background-image: url(/img/ga_logo.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 7.5em;
    height:7.5em;
    position:fixed;
    top: 0;
    left: 5%;
    background-color:rgba(33, 33, 33, 0.63);
    z-index:20;
    
   
}

.title {  
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 90pt;
}

.space{
    height: 7.5em;
}

.content{
    margin-left: 5%;
    margin-right: 5%;
    background-color:#fff;
}

.footer{
    margin-top:2em;
    margin-bottom:2em;
    margin-left: 5%;
    color:white;
}

.post{
   width:70%;
    float:left;
   
}

.btnSection{
    width:15%;
    float:left;
    padding-top: 3em;
}

.divBar{
    background-color: #dedede;
    height: 0.3em;
}


.button {
	display: inline-block;
    width:65%;
  margin: 0;
  padding: 0.75rem 1rem;
	border: 0;
	background-color: rgb(224, 19, 89);
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	font-family: 'Roboto', Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

.button:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	opacity: 0.85;
}

.button:active {
	-webkit-box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
	-moz-box-shadow:    inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
	box-shadow:         inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}












@media only screen and (max-device-width: 1315px), screen and (max-width: 1315px) {

}

@media only screen and (max-device-width: 1024px), screen and (max-width: 1024px) {
  .logo{
        width: 5em;
        height: 5em;
    }
    
    .space{
    height: 5em;
    }
}

@media only screen and (max-device-width: 760px), screen and (max-width: 760px) {
  .logo{
        width: 3em;
        height: 3em;
    }
    
    .space{
    height: 3em;
    }
}

@media only screen and (max-device-width: 500px), screen and (max-width: 500px) {
  .logo{
        position:relative;
        background-size:contain;
        left: 0%;
        width: 100%;
        height: 3em;
    }
    
    .space{
    height: 3em;
    }
}

@media only screen and (max-device-height: 900px), screen and (max-height: 900px) {
  .title {  
    font-size: 70pt;
  }
}

@media only screen and (max-device-height: 700px), screen and (max-height: 700px) {
  .title {  
    font-size: 50pt;
  }
}

}